.App {
  flex-direction: column;
  text-align: center;
  font-family: Calibri Light;
  color: white;
} 

input[type="text"]{
  width: 200px;
  height: 20px;
}

li{
  justify-content: center;
  display: flex;
  text-align: left;
  margin-top: 20px;
  font-size: 20px;
}

h1{
  margin-top: 70px;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button{
  background-color: #25c5df;
  font-family: Calibri Light;
  color: white;
  height: 22px;
  border: 0;
}

body{
  background-image: linear-gradient(to right, #4f9bd9 , #25c5df );
}